#body2 {
   background-image:linear-gradient(#7facd6,#a5678e);
   background-repeat: no-repeat;
}

.head1 {
    font-size:40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px 10px 30px 10px;
    text-align: center;
    color:black;
    background-color: #e39ff6;
    border: 12px black solid;
    margin-bottom: 80px;
}

.head2 {
    font-size: 25px;
    text-align: center;
    padding: 15px;
    height: 75px;
    border-bottom: 4px black solid;
    border-top-left-radius: 1.3cm;
    border-top-right-radius: 1.3cm;
    margin-top: 0px;
    background-color: #0047ab;
    color: #ffdbe9
}

h4 {text-align: center}

.box-overview, .box-motiv, .box-descrip, .box-skills, .box-tools, .box-outcome {
    margin-bottom: 100px;
    margin-right: 5%;
    border: 4px black solid;
    border-radius: 1.4cm;
    background-color:white;
    float: left
}

.box-overview, .box-descrip, .box-skills, .box-outcome {margin-left: 5%}

.box-overview, .box-tools {width: 35%}

.box-motiv, .box-skills {width: 50%}

.box-descrip {width: 90%}

.para1, .property {
    line-height: 1.8;
    color: black
}
    
.para1 {padding: 10px 20px 20px 20px}

.property {margin: 40px 20px 40px 15px}

#footer {
    color: white;
    background-color: black;
    padding: 10px 30px;
    margin-top: 10px;
}

