.body2 {
    background-image: linear-gradient(#5874dc, #e06c78);
    background-repeat: no-repeat;
}

.heading1{
    font-size:40px;
    padding: 50px 10px 30px 10px;
    text-align: center;
    color: #192bc2;
    background-color: #fecae2;
    border-width: 12px;
    border-color:black;
    border-style: solid; 
}

.heading2 {
    font-size:25px;
    text-align: center;
    padding: 10px;
    height: 55px;
    background-color:black;
    color: cyan
}

.heading4 {
    text-align: center;
}

.para-container {
    padding: 20px 30px;
    margin-bottom: 40px;
    color: #fffdd0;
    line-height: 2;
}

.para {padding-bottom: 20px}

.vid {
    text-align: center;
    padding-bottom: 20px
}

#footer {
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 10px;
}


