
.header1 {
    background-color:#82eefd;
    color: #757c88;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 10px 30px 10px;
    text-align: center;
    border-width: 12px;
    border-color:black;
    border-style: solid
}

.container1 {
    border: black solid 4px;
    margin: 0px 50px;
    padding-bottom: 20px;
}

.header2 {
    margin: 0px;
    font-size:30px;
    text-align: center;
    padding: 10px;
    height: 65px;
    background-color: #0047ab;
    color: #dedede;
}

.interview {
    padding: 8px 40px;
}


  
  
